.imgCarrousel{
    height: 32rem;
    width: auto;
}

@media only screen and (max-width: 835px){
    .imgCarrousel{
        height: 23rem;
        width: auto;
    }
  }

@media only screen and (max-width: 710px){
    .imgCarrousel{
        height: 22rem;
        width: auto;
    }
  }

  @media only screen and (max-width: 600px){
    .imgCarrousel{
        height: 20rem;
        width: auto;
    }
  }

  @media only screen and (max-width: 570px){
    .imgCarrousel{
        height: 18rem;
        width: auto;
    }
  }

  @media only screen and (max-width: 510px){
    .imgCarrousel{
        height: 17rem;
        width: auto;
    }
  }

  @media only screen and (max-width: 470px){
    .imgCarrousel{
        height: 12rem;
        width: auto;
    }
  }
  
  

  
