.carrousel{

  height: min-content;

  .imgCarrousel{
    height: 32rem;
    width: auto;
}
}
@media only screen and (max-width: 800px){
  .carrousel{

    .imgCarrousel{
        height: 28rem;
        width: auto;
    }
  }
  }

  @media only screen and (max-width: 700px){
    .carrousel{
  
      .imgCarrousel{
          height: 23.8rem;
          width: auto;
      }
    }
    }

    @media only screen and (max-width: 600px){
      .carrousel{
    
        .imgCarrousel{
            height: 19.7rem;
            width: auto;
        }
      }
      }

      @media only screen and (max-width: 500px){
        .carrousel{
         
      
          .imgCarrousel{
              height: 14.4rem;
              width: auto;
          }
        }
        }
      
    
  
   

 