.about{
    // background-color: chartreuse;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .aboutImg{
        width: 45%;
    }

    .aboutText{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 50%;
       line-height: 1.8rem;
       letter-spacing: 0.2px;

       a{
        background-color: transparent;
        padding: 8px 20px;
        border-radius: 4px;
        transition: all ease 0.5s;
        letter-spacing: 1px;
        font-size: 1rem;
        text-decoration: none;
        color: black;
    
        
        &:hover{
            letter-spacing: 2px;
        }
       }
    }
   
}

.press{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 40px;

    .links a{
        display: flex;
        flex-direction: column;
        color: grey;
        text-decoration: none;
        line-height: 40px;

        &:hover{
            color: cadetblue;
        }
    }
}