.about {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    width: 100%;

    .aboutImg {
        width: 50%;
        height: auto;
    }

    .aboutText {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 45%;
        line-height: 1.8rem;
        letter-spacing: 0.2px;

        a {
            background-color: transparent;
            padding: 8px 20px;
            border-radius: 4px;
            transition: all ease 0.5s;
            letter-spacing: 1px;
            font-size: 1rem;
            text-decoration: none;
            color: black;


            &:hover {
                letter-spacing: 2px;
            }
        }
    }

}

.press {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;

    .links a {
        display: flex;
        flex-direction: column;
        color: grey;
        text-decoration: none;
        line-height: 40px;

        &:hover {
            color: cadetblue;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .about {

        .aboutImg {
            height: fit-content;
        }
        .aboutText{
            font-size: 15px;
            line-height: 28px;
        }
    }
}

@media only screen and (max-width: 1100px) {
    .about {

        .aboutImg {
            height: fit-content;
        }
        .aboutText{
            font-size: 14px;
            line-height: 25px;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .about {

        .aboutImg {
            height: fit-content;
        }
        .aboutText{
            font-size: 13.5px;
            line-height: 22px;
        }
    }

    
    .press{
        .links a{
           font-size: 12px;
        }
    }
}

@media only screen and (max-width: 900px) {
    .about {
        flex-direction: column;

        .aboutImg {
            width: 100%;
        }

        .aboutText {
            width: 100%;
            text-align: justify;
            padding-top: 20px;
            font-size: 14.5px;
            line-height: 30px;
        }
    }

    .press{
        .links a{
           font-size: 11px;
        }
    }
}