.picHome {
    width: 100%;
    background-image: url("https://i.imgur.com/TdYjZlc.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

@media only screen and (max-width: 650px) {
.home{
    padding-top: 40px;
}
    .picHome {
        height: 550px;
        background-position: right;
        background-repeat: no-repeat;
    }
}