.contactContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px;
    column-gap: 8rem;

    .form {
        width: 45%;

    }

    .containerButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;

        .button {
            border: 1px solid rgb(0, 0, 0);
            letter-spacing: 1px;
            transition: ease-in-out 0.4s;
            padding: 10px 18px;
            background-color: white;
            border-radius: 5px;

            &:hover {
                letter-spacing: 2px;
                color: black;
            }
        }

    }
}

.networkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.inquires {
    text-align: center;
    padding-top: 20px;
}

.network {
    padding-top: 30px;
    line-height: 30px;

    .linkMail{
        color: black;
    }
}

.input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 20px;
    box-shadow: transparent;
}

.input:focus-visible {
    outline: none;
    box-shadow: transparent;
}

.toastify {
    font-family: apercu;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    --toastify-color-progress-light:
        #080808;  
}

 //  MEDIA QUERIES CONTACT  //

@media only screen and (max-width: 850px) {

    .contactContainer {
        flex-direction: column-reverse;
        padding: 0;

        .form {
            width: 100%;
            padding-top: 40px;
        }
    }

    .networkContainer {
        width: 100%;
    }
}

 //  AUTOCOMPLETE INPUT  //

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border-bottom:1px solid black;
    -webkit-text-fill-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px rgb(255, 255, 255) inset;
    transition: background-color 5000s ease-in-out 0s;
}