.contactContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px;
    column-gap: 8rem;

    .form {
        width: 45%;
    }

    .containerButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        
        
        .button{
            border: 1px solid rgb(0, 0, 0);
            letter-spacing: 1px;
            transition: ease-in-out 0.4s;
           
            &:hover {
                letter-spacing: 2px;
                color: black;
            }
        }


    }
}

.networkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.inquires {
    text-align: center;
    padding-top: 20px;

}

.network {
    padding-top: 30px;
}

.input {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 20px;
    box-shadow: transparent;
}

.input:focus-visible {
    outline: none;
}

@media only screen and (max-width: 850px){
 
    .contactContainer{
        flex-direction: column-reverse;
        padding: 0;

        .form {
            width: 100%;
        }
    }
    .networkContainer {
        width: 100%;
    }
  }
  

  
