.contactContainer {
    // background-color: rgb(49, 82, 82);
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 80px;
    column-gap: 8rem;


    .form {
        width: 45%;
    }

    .containerButton {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        
        
        .button{
            width: 20%;
            border: 1px solid rgb(0, 0, 0);
            letter-spacing: 1px;
            transition: ease-in-out 0.4s;
           
            
            &:hover {
                letter-spacing: 2px;
            }
        }


    }
}

.networkContainer {
    // background-color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.inquires {
    text-align: center;
    padding-top: 20px;

}

.network {
    padding-top: 30px;
    // background-color: aqua;

}

.input {
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding: 20px;
}

.input:focus-visible {
    outline: none;
}