.containerNav {
    display: flex;
    justify-content: space-between;

    .navbar-brand {
        color: rgb(0, 0, 0);
        letter-spacing: 0.2rem;
        font-size: 1.6rem;
    }
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    padding: 1rem;
}

.linkNav{
    padding: 15px;
    color: black;
    text-decoration: none;
    
    &:hover{
        color: #A19B9B;
    }
}

.dropdown-toggle{
    padding: 5px 10px 5px 5px;


    .arrowNav{
        color: black;
        
        &:hover{
            color: #A19B9B;
        }

    }
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0em;
    vertical-align: 0em;
    content: "";
    border-top: 0 solid;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
}

.btn{
    margin: 0;

}

.btn-success {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
    padding: 15px 0px 15px 15px ;
    box-shadow: 0 0 0 .25rem rgba(60, 153, 110, 0);

}

.btn-success:hover {
    background-color: transparent;
    color: #A19B9B;
    border: none;
}

.btn-success:active{
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
}

.btn-success:focus{
    color: rgb(0, 0, 0);
    background-color:transparent;
    border: none;
}

.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
 
    box-shadow: none;
}
   

.btn-primary {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border: none;
}

.btn-primary:hover {
    background-color: transparent;
    border-color: none;
}

.btn-primary:focus {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-color: none;
    box-shadow: transparent;
}

.btn-primary:active, .show>.btn-primary.dropdown-toggle {
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-color: none;
}

.btn-primary:focus {
    color: rgb(0, 0, 0);
    background-color: #0b5dd700;
    border-color: #0a57ca00;
    box-shadow: 0 0 0 0.25rem rgba(49, 131, 253, 0);

  
}

.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .25rem rgba(49, 131, 253, 0);
}

.show>.btn-primary.dropdown-toggle {
    background-color: transparent;
    border-color: transparent;

}

.btn-primary:active:focus{
    box-shadow: none;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("../../resources/bars-staggered-solid.svg");
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
}


.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #70148700;


}


 

#dropdown-split-basic{

    
    &:hover{

        color: #A19B9B;

        .arrowNav{

        color: #A19B9B;
        }

    }
}

@media only screen and (max-width: 992px){
 
  .btn-group-vertical>.btn, .btn-group>.btn{
    flex: 0;
    padding: 15px;

  }
}

@media only screen and (max-width: 429px){
 
    .containerNav .navbar-brand{
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 380px){
 
    .containerNav .navbar-brand{
        font-size: 18px;
    }
  }
  

  
