

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');



@font-face {
  font-family: apercu;
  src: url(../src/resources/fonts/ApercuPro-ExtraLight.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  padding: 0px 30px;
  background-color: #FFFFFF;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
